.bash_history
.rstudio/
.Rproj.user
.Rhistory
.RData
.DS_Store
.Rapp.history
*.html
*.pdf
w.*
world.*
plot[1-9].gif
world.dbf
man
!ga.html
unnamed-chunk*
inst/doc
data/mosaic
data/slovenia_tmp
data-raw/
docs/
#figures/
/.quarto/
*_cache/
*_files/